---
---

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);

@import "helpers";
@import "bourbon/bourbon";
@import "flaticon";

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

pre {
    font-size: 16px;
    padding: 0px;
    border: none;
    margin: 20px 0px;

    code,
    code.hljs {
        padding: 20px;
    }
}

#header {
    padding: 25px 0 20px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;

    .dash {
        width: 100%;
        border-bottom: 1px solid #cccccc;
    }

    .container {
        padding: 0px 20px;
    }

    .nav {
        a {
            display: inline-block;
            margin-top: 132px;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 1px;
            margin-left: 20px;
            color: #444444;
        }
    }

    .brand {
        h1 {
            font-size: 54px;
            padding-top: 50px;
            margin: 0;

            a {
                color: #444444;
            }
        }

        .subtitle {
            color: #444444;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 400;
        }

        .social-media {
            padding-top: 5px;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1.25px;
            font-weight: 400;

            a {
                &:hover {
                    color: #428bca;
                    text-decoration: none;
                }
            }
        }
    }
}

#wrapper {
    padding: 0px 30px;
}

.post {
    padding-bottom: 15px;
    padding-left: 4px;
    margin-bottom: 50px;
    border-bottom: 1px solid whitesmoke;

    h1, h2, h3, h4 {
        margin: 50px 0 20px;
        font-weight: 600;
        color: shade(gray, 30%);
        text-transform: none;
        display: table;
    }

    .title {
        margin-top: 0;
        margin-bottom: 15px;
        font-weight: 300;
        font-size: 60px;
        display: block;
        border: none;
        text-align: left;
        width: 80%;
        color: #428bca;

        a {
            color: darken(#428bca, 10%);

            &:hover {
                color: black;
            }
        }
    }

    .subtitle {
        height: 37px;
        margin-top: -10px;
        margin-bottom: 40px;

        .date {
            float: left;
            text-align: left;
            color: #666666;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 16px;
            font-weight: 700;
            padding-left: 4px;
            margin-top: 15px;
        }

        #share-button {
            float: right;
            color: white;
            opacity: 0;
            @include transition (opacity 500ms);

            &.concealed {
                visibility: hidden;
            }

            &.visible {
                opacity: 1.0;
            }

            label {
                color: white;
            }
        }
    }

    .content {
        padding-left: 4px;
        font-weight: 200;
        font-size: 22px;
        letter-spacing: 0.2px;
    }
}

.post-previews {
    margin-top: -35px;
    margin-bottom: 100px;

    .post-preview {
        padding: 30px 4px;
        padding-top: 40px;
        border-bottom: 1px solid #dddddd;

        .title {
            font-size: 30px;
            margin-top: 0px;
        }

        .date {
            padding-left: 4px;
            text-align: left;
            color: #666666;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 14px;
            font-weight: 700;
            margin-top: -4px;
        }

        .content-preview {
            font-size: 18px;
            margin-top: 10px;
            padding-left: 4px;
            font-weight: 300;
        }
    }
}

.comments {
    padding: 35px 0 50px;
    background: #F5F5F5;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid shade(whitesmoke, 4%);

    h1 {
        color: lightgray;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 900px!important;
    }
}

// Sticky footer :p
html, body {
    height: 100%;
}
.page {
    min-height: 100%;
    // Height of the footer
    margin-bottom: -40px;

    &:after {
        content: "";
        display: block;
        height: 40px;
    }
}
#footer {
    background: #444444;
    color: #eeeeee;
    padding: 10px 0px;
    text-align: center;
    height: 40px;
}
