---
---

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

@import "helpers";
@import "bourbon/bourbon";
@import "flaticon";
@import "pushy";

.small-nav {
  display: none;
  background: rgba(1, 1, 1, 0.2);
  width: 100%;
  z-index: 99999;

  ul {
    list-style: none;
    display: table;
    margin: 0 auto;

    li {
      display: inline-block;
      text-transform: uppercase;
      padding: 10px 8px;
      font-size: 15px;

      a {
        color: white;
      }
    }
  }
}

.navigation {
  #navicon {
    position: fixed;
    color: gray;
    font-size: 2.8em;
    margin-top: 0.8em;
    outline: none;
    z-index: 999;

    margin-left: 0.5em;

    &:before {
      font-family: Flaticon, sans-serif;
      content: "\e142";
      color: white;
      text-shadow: 1px 1px 10px #000000;
    }

    &:after {
      content: 'CLOSE';
      display: block;
      font-size: 12px;
      margin-top: -4px;
      margin-left: 2px;
    }


    &.closed {
      margin-left: 1em;

      &:before {
        content: "\e0bb";
      }

      &:after {
        content: 'MENU';
        display: block;
      }
    }

    &:hover {
      color: tint(gray, 20%);
      cursor: pointer;
    }
  }
}

.brand {
  text-align: center;
  position: absolute;
  height: 110px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;

  h1 {
    letter-spacing: 0.7em;
    font-size: 2.1em;
    text-shadow: 1px 1px 10px #000000;
    padding: 0.3em;
    color: white;
    padding-left: 1em;

    @extend .tabloid;

    @include delay(0.7s);
  }

  h2 {
    opacity: 0.7;
    @extend .tabloid;

    @include delay(1s);

    color: shade(white, 20%);
    font-size: 1.2em;
    letter-spacing: 0.4em;
    margin-top: 1.2em;
    padding-left: 1em;
  }
}

#introduction {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #535353;
  @include cover('coffee.jpg');

  background-position-x: 0%;
  background-position-y: 0%;
  text-align: center;
  overflow: hidden;

  .chevron {
    position: absolute;
    bottom: 3%;
    width: 100%;

    @include delay(2s);
    @extend .tabloid;

    text-align: center;
    color: #D3D3D3;

    div {
      font-size: 0.9em;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    .down {
      @extend .sink;

      color: shade(lightgray, 20%);
      font-size: 3em;

      &:hover {
        cursor: pointer;
        color: whitesmoke;
      }
    }
  }
}

#about {
  padding: 100px 0 140px;
  font-family: 'Open Sans', sans-serif;
  background: whitesmoke;

  .profile-pic {
    width: 200px;
    height: 200px;
  }

  h1 {
    @extend .tabloid;

    font-size: 1.9em;
    color: shade(#9CA2A6, 20%);
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  a {
    color: black;
    padding-bottom: 2px;
    border-bottom: 1px solid black;

    &:hover {
      border-bottom: 1px dashed black;
    }
  }

  .dash {
    @include duration(3.5s);
    background: lightgray;
  }

  p {
    color: shade(gray, 20%);
    margin: 0 auto;
    font-size: 1.4em;
    letter-spacing: 0.04em;
    line-height: 1.7em;
    font-weight: 300;
  }
}

#interests {
  padding-top: 70px;
  padding-bottom: 105px;
  background: white;
  position: relative;
  text-align: center;
  border-color: white;
  position: relative;

  h1 {
    margin-bottom: 35px;
    font-size: 2em;
    font-weight: 300;
    color: gray;
    letter-spacing: 0.2em;
  }

  .bold {
    font-weight: 600;
  }

  a {
    color: black;
    padding-bottom: 2px;
    border-bottom: 1px solid black;

    &:hover {
      border-bottom: 1px dashed black;
    }
  }

  i {
    font-size: 4em;
    color: shade(gray, 10%);
  }

  .row {
    &:last-child { border-top: 1px solid tint(lightgray, 55%) }

    .column {
      padding: 30px;
      border-left: 1px solid tint(lightgray, 55%);

      &:first-of-type { border-left: none; }
    }
  }

  h3 {
    font-weight: 400;
    color: shade(gray, 40%);
    letter-spacing: 0.2em;
    font-size: 1.4em;
    padding-bottom: 10px;
  }

  p {
    @extend .tabloid;

    color: shade(gray, 30%);
    max-width: 380px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
  }

  .dash {
    background: lightgray;
  }
}

$gray: shade(#444444, 20%);
$lightgray: tint(#848484, 20%);

#work {
  padding: 50px 0 80px;
  color: $lightgray;
  background: $gray;

  h1 {
    text-align: center;
    font-size: 2em;
    margin: 0 0 35px;
  }

  h3 {
    margin-top: 0;
    font-size: 1.7em;

    a {
      color: inherit;

      &:hover { color: shade($lightgray, 20%); }
    }
  }

  h4 {
    padding: 25px 15px;
    margin: 0;
  }

  p {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.8em;
    font-weight: 300;
  }

  .dash {
    display: inline-block;
    background-color: gray;
  }

  .right, .left {
    padding: 0;
  }

  .item {
    padding: 25px;

    img {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .item-1 {
    background: shade($gray, 2%);
  }

  .item-2 {
    background: tint($gray, 2%);
  }

  .item-3 {
    background: shade($gray, 1%);
  }

  .item-4 {
    background: tint($gray, 2%);
  }

  .item-5 {
    background: shade($gray, 1%);
  }

  .right {
    h2 {
      padding: 20px;
      margin: 0;
      font-size: 1.7em;
      background: tint($gray, 2%);
    }

    .bars {
      padding: 20px;
      background: shade($gray, 1%);
    }
  }

  .bar {
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 18px;
    color: tint($gray, 30%);

    @include duration(1s);

    i {
      font-size: 0.7em;
      color: tint($gray, 20%);
      margin: 0 7px;
    }
  }
}

#contact {
  padding-top: 100px;
  padding-bottom: 140px;
  position: relative;
  border-color: whitesmoke;
  background: whitesmoke;
  color: gray;
  text-align: center;

  h1 {
    div { display: inline-block; }

    color: black;
    font-weight: 300;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 0 20px;
  }

  p {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 30px auto 35px;
    max-width: 500px;

    @extend .tabloid;
  }

  a.contact {
    padding: 8px 15px;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: 1px;
    color: darken(gray, 8%);

    i {
      margin-left: 10px;
      font-size: 20px;
    }

    &:hover { color: lightgray; background: gray; border: 1px solid gray }
  }

  .paperplane {
    @extend .tabloid;

    color: tint(gray, 30%);
    font-size: 5em;
  }
}

#quote {
  color: whitesmoke;
  text-align: center;
  padding: 130px 0 150px;
  background: url(/images/foggy.jpg) no-repeat center center;

  @include cover('foggy.jpg');

  .icon {
    font-size: 4em;
  }

  .container {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 4px;
    max-width: 25em;
  }

  .author {
    @extend .tabloid;

    font-family: Georgia, sans-serif;
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 20px;
    border-top: 1px solid shade(lightgray, 15%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
  }
}

#footer {
  padding: 65px 0 80px;
  background: #ECECEC;
  text-align: center;
  font-weight: 300;

  h4 {
    margin-bottom: 25px;
  }

  ul {
    list-style: none;

    @extend .tabloid;

    li {
      display: inline-block;
      min-width: 50px;
      min-height: 75px;
      margin: 0 30px;
      padding: 0 30px;
      position: relative;

      a {
        color: lightgray;

        i {
          font-size: 3em;
        }

        p {
          position: absolute;
          font-weight: 400;
          letter-spacing: 1px;
          display: none;
          left: 0;
          right: 0;
          margin: auto;
          margin-top: 10px;
          color: inherit;
        }
      }
    }

    .email:hover { a { color: #27ae60 } }
    .github:hover { a { color: #222222; } }
    .twitter:hover { a { color: #32CCFE; } }
    .codepen:hover { a { color: #4183c4;} }
  }

  .dash {
    background-color: lighten(gray, 30%);
  }

  .license {
    font-family: Georgia, sans-serif;
    color: shade(lightgray, 10%);
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 15px;

    a {
      color: inherit;
      padding-bottom: 3px;
      border-bottom: 1px dotted shade(lightgray, 10%);

      &:hover {
        border-bottom: 1px solid shade(lightgray, 10%);
      }
    }
  }
}

.sink {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.sink:hover, .sink:focus, .sink:active {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
