---
---

.no-js {
  .nav {
    display: none;
  }

  #navicon {
    display: none;
  }

  #loading {
    display: none;
  }
}

.no-cssanimations {
  *:not(#introduction) {
    visibility: visible!important;
  }
}

.no-rgba {
  .small-nav {
    background: black;
  }
}

.no-cssgradients {
  #header {
    background-color: #6C64E7;
  }
}

.ie6, .ie7, .ie8, .no-csstransforms {
  .navigation { display: none!important }
}
