<section class="navigation">
  <a id="navicon" class="animated fadeInLeft closed menu-btn"></a>

  <div id="" class="nav pushy pushy-left">
    <ul>
      <li>
        <a class="introduction" href="#">
          <i class="fa fa-angle-up"></i>Intro
        </a>
      </li>

      <li>
        <a class="about" href="#">
          <i class="fa fa-user"></i>Who I am
        </a>
      </li>

      <li>
        <a class="interests" href="#">
          <i class="fa fa-code"></i>What I do
        </a>
      </li>

      <li>
        <a class="work" href="#">
          <i class="fa fa-suitcase"></i>What I've done
        </a>
      </li>

      <li>
        <a class="contact" href="#">
          <i class="fa fa-paper-plane"></i>Contact
        </a>
      </li>
    </ul>

    <ul style="margin-top: 70px;">
      <li>
        <a href="http://blog.sandile.io"><i class="fa fa-book"></i>Blog</a>
      </li>
    </ul>
  </div>
</section>

<div class="site-overlay"></div>
