<section id="header">
  <div class="container">
    <div class="brand pull-left">
        <h1><a href="{{ site.root }}"><span>Sandile</span> Keswa</a></h1>
        <div class="subtitle">Fullstack Software Developer</div>
        <div class="social-media">
            <a href="https://twitter.com/skeswa">@skeswa</a> //
            <a href="https://github.com/skeswa">github.com/skeswa</a> //
            <a href="mailto:me@sandile.io">me@sandile.io</a>
        </div>
    </div>
    <div class="nav pull-right">
        <a href="{{ site.root }}">Home</a>
        <a href="{{ "blog" || prepend: site.root }}">Blog</a>
        <a href="{{ "blog/archives" || prepend: site.root }}">Archives</a>
    </div>
    <div class="clearfix"></div>
    <div class="dash"></div>
  </div>
</section>
