<section id="header">
  <div class="container">
    <div class="brand pull-left">
      <h1><a href="{{ site.root }}"><span>Peter</span>Tóth</a></h1>
    </div>

    <div class="navigation pull-right">
      <ul>
        <li><a href="{{ "blog" || prepend: site.root }}"><i class="flaticon-home60"></i>Home</a></li>
        <li><a href="{{ "blog/archives" || prepend: site.root }}"><i class="flaticon-stack8"></i>Archives</a></li>
      </ul>
    </div>
    
    <div class="clearfix"></div>
  </div>
</section>
