<!DOCTYPE html>
  <!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
  <!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
  <!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
  <!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <html>

  {% include head.html %}

    <body>
      {% include header.html %}

      {% include home/introduction.html %}
      {% include home/about.html %}
      {% include home/interests.html %}
      {% include home/work.html %}
      {% include home/contact.html %}
      <!--{% include home/quote.html %}-->

      {% include footer.html %}

    </body>
</html>
