<!DOCTYPE html>
<html>
    {% include blog/head.html %}
    <body>
        <div class="page">
            {% include blog/header.html %}
            <div class="container">
                <div class="post">
                    <h1 class="title">{{ page.title }}</h1>
                    <div class="subtitle">
                        <div class="date">Published on {{ page.date | date: "%B %-d, %Y" }}</div>
                        <div id="share-button"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="content">{{ content }}</div>
                </div>
            </div>
            {% if page.comments %}
                {% include comments.html %}
            {% endif %}
        </div>
        {% include blog/footer.html %}

        <script>
            window.POST_TITLE = '{{ page.title }}';
        </script>
        <script src="{{ "/js/highlight.pack.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/share.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/post.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
