<!DOCTYPE html>
<html>

  {% include blog/head.html %}

  <body>
    <div id="wrapper">
      {% include blog/header.html %} 

      <div class="container">
        <div class="direct-post">
          <h1 class="title">{{ page.title }}</h1>

          <div class="date">
            <i class="fa fa-calendar-o"></i> {{ page.date | date: "%-d %B %Y" }}
          </div>

          {{ content }}

          <div class="categories">
            <i class="fa fa-tags"></i>
              {% for category in page.categories %}
                <span>{{ category }}</span>
              {% endfor %}
          </div>

          <div class="next-previous">
            {% if page.next %}
              <div class="next pull-left">
                <a href="{{ page.next.url || prepend: site.root }}">
                  <i class="fa fa-angle-left"></i> {{ page.next.title }}
                </a>
              </div>
            {% endif %}

            {% if page.previous %}
              <div class="previous pull-right">
                <a href="{{ page.previous.url }}">
                  {{ page.previous.title }} <i class="fa fa-angle-right"></i>
                </a>
              </div>
            {% endif %}

            <div class="clearfix"></div>
          </div>

        </div>
      </div>

      {% if page.comments %}
        {% include comments.html %}
      {% endif %}

      {% include footer.html %}
    </div>
  </body>
</html>
