<section id="about">
  <div class="container">
    <div class="col-md-12 center">
      <img class="profile-pic" src="/images/profile.jpg">

      <h1>Hi there</h1>

      <div class="dash animated fadeIn"></div>

      <p>
        I am 18 years old a web developer / <small>designer</small>
        <br>based in
        <a href="http://goo.gl/t9imj8">
          Kosice, SK</a>.
        I have a strong passion
        for anything<br> web related, mostly developing web applications.
      </p>

      <div class="dash animated fadeIn"></div>

      <p>
        You can find more on my 
        <a href="{{ "blog" || prepend: site.root }}">blog</a>.
      </p>
    </div>
  </div>
</section>
