<section id="about">
  <div class="container">
    <div class="col-md-12 center">
      <img class="profile-pic" src="/images/profile.png">
      <h1>A little about me</h1>
      <div class="dash animated fadeIn"></div>
      <p>
        I am a twenty-something-year-old software developer living in New York.
        I'm a problem solving enthusiast, with a penchant for coffee and a whimsical sense of humor.
        Come say hey at a hackathon or tech meetup near you.
      </p>
      <div class="dash animated fadeIn"></div>
      <p>
        If you aren't tired of me yet, check out my
        <a href="http://blog.sandile.io">blog</a>.<br>
        If you want work with me, take a look at <a href="https://github.com/skeswa/resume/raw/master/Resume.pdf">my resume</a>.
      </p>
    </div>
  </div>
</section>
