<section id="about">
  <div class="container">
    <div class="col-md-12 center">
      <img class="profile-pic" src="/images/profile.png">
      <h1>A little about me</h1>
      <div class="dash animated fadeIn"></div>
      <p>
        I am a 22 year old a web, mobile &amp; backend developer based in and around Philadelphia.
        I'm a problem solving enthusiast, with a penchant for coffee and a whimsical sense of humor.
        I'm a <a href="http://hackny.org/a/fellows/">HackNY Fellow</a> '14, and I currently go to school
        at Temple University - I'll be outta there in 2015. I like to call myself a serial hacker; I'm
        always tinkering around with something. Come say hey at a hackathon or tech meetup near you.
      </p>
      <div class="dash animated fadeIn"></div>
      <p>
        If you aren't tired of me yet, check out my
        <a href="{{ "blog" || prepend: site.root }}">blog</a>.
      </p>
    </div>
  </div>
</section>
