<section id="interests">
  <div class="container">

    <h1 class="tabloid">What I do</h1>

    <div class="row">
      <div class="column col-md-6">
        <div class="flaticon">
          <i class="flaticon-codings1"></i>
        </div> 

        <h3>Development</h3>

        <div class="dash"></div>

        <p>
          I develop 'em apps with <span class="bold">Ruby on Rails</span> 
          and everything that comes with it. I also like fiddling around with
          <span class="bold">Angular.js</span>.
        </p>

        <div class="dash"></div>
      </div>

      <div class="column col-md-6">

        <div class="flaticon">
          <i class="flaticon-ruler9"></i>
        </div> 

        <h3>Design</h1>

        <div class="dash"></div>

        <p>
          When I'm in the mood I also fancy doing
          some styling, ideally responsive and minimalistic. 
          A handful of my endeavours can be seen at 
          <a href="http://codepen.io/petertoth/">codepen.io</a>
        </p>

        <div class="dash"></div>
      </div>
    </div>

    <div class="row">
      <div class="column col-md-6">
        <div class="flaticon">
          <i class="flaticon-bulb11"></i>
        </div> 

        <h3>Open source</h3>

        <div class="dash"></div>

        <p>
          I <span class="heart"></span> open source and everything about it to its very nature.
          I have contributed to several open source projects
          and manage a few of my own.
        </p>

        <div class="dash"></div>
      </div>

      <div class="column col-md-6">
        <div class="flaticon">
          <i class="flaticon-globe14"></i>
        </div>

        <h3>The World</h3>

        <div class="dash"></div>

        <p>
          Besides coding, designing, watching TV series/football,
          wasting time in school I do my utmost best to change the world.
        </p>

        <div class="dash"></div>
      </div>
    </div>
  </div>
</section>

