<section id="interests">
  <div class="container">

    <h1 class="tabloid">What I do</h1>

    <div class="row">
      <div class="column col-md-6">
        <div class="flaticon">
          <i class="flaticon-codings1"></i>
        </div>

        <h3>Development</h3>

        <div class="dash"></div>

        <p>
        I build webapps with <span class="bold">React.js</span> or <span class="bold">Angular.js</span> in frontend, and <span class="bold">Node.js</span> or <span class="bold">Go</span> in the backend. I've worked with <span class="bold">MySQL, PostgreSQL &amp; MongoDB</span> in the database layer. I know my way around <span class="bold">Android</span> on the mobile side, and I some times dabble in <span class="bold">Rust</span> for system-level tools.
        </p>

        <div class="dash"></div>
      </div>

      <div class="column col-md-6">

        <div class="flaticon">
          <i class="flaticon-speaker30"></i>
        </div>

        <h3>Community Organizing</h1>

        <div class="dash"></div>

        <p>
          Sharing what you're passionate about with other people is one of the most rewarding
          experiences any person can enjoy. I of course am no exception. Organizing public events
          and clubs is how I share my passion for software development and science.
        </p>

        <div class="dash"></div>
      </div>
    </div>

    <div class="row">
      <div class="column col-md-6">
        <div class="flaticon">
          <i class="flaticon-bulb11"></i>
        </div>

        <h3>Open source</h3>

        <div class="dash"></div>

        <p>
          I <span class="heart"></span> open source and the spirit of collaboration through contribution;
          software should be transparent and collaborative. I have contributed to several open source projects,
          and I open source most projects that I build
          independently.
        </p>

        <div class="dash"></div>
      </div>

      <div class="column col-md-6">
        <div class="flaticon">
          <i class="flaticon-music59"></i>
        </div>

        <h3>All Things Musical</h3>

        <div class="dash"></div>

        <p>
          I'm that guy who sings or whistles while doing everything. The only time I'm silent is when I'm listening
          to some song or performance. I believe that music is a critical component of the human experience,
          and I indulge in it regularly.
        </p>

        <div class="dash"></div>
      </div>
    </div>
  </div>
</section>

