<section id="introduction">
  <div class="small-nav nav">
    <ul>
      <li>
        <a class="introduction" href="#introduction">Intro</a>
      </li>

      <li>
        <a class="about" href="#about">About</a>
      </li>

      <li>
        <a class="interests" href="#interests">Interests</a>
      </li>

      <li>
        <a class="work" href="#work">Work</a>
      </li>

      <li>
        <a class="contact" href="#contact">Contact</a>
      </li>
    </ul>
  </div>

  <div class="brand">
    <h1 class="animated fadeInUp">Hello, I'm Sandile</h1>
    <h2 class="animated fadeInUp">fullstack software developer</h2>
  </div>

  <div class="chevron animated fadeInUp">
    <div>Scroll down</div>
    <i class="flaticon-bottom4 down"></i>
  </div>
</section>
