<section id="work">
  <div class="container">
    <h1>I've worked with</h1>

    <div class="left col-md-8">

      <div class="item item-1">
        <h3><a href="http://quickpoll.co">Quickpoll</a></h3>
        <p>
In the need of a quick response from your audience without unnecessary refreshes and delays ? Create a poll with an arbitrary number of options and watch its progress in the real time.
        </p>

        <p class="warning">Major upgrade coming soon !</p>
      </div>

      <div class="item item-2">
        <h3><a href="https://github.com/petertoth/seems_rateable">SeemsRateable</a></h3>
        <p>Ruby on Rails star rating engine using third party javascript library.</p>
      </div>

      <div class="item item-3">
        <h3><a href="https://github.com/petertoth/neutral">Neutral</a></h3>
        <p>Neutral is a rails engine providing positive & negative ajaxful voting solution for Rails applications. It is highly customizable and lightweight accordingly.</p>
      </div>

      <h4 class="item">For fun</h4>

      <div class="item item-4">
        <h3><a href="http://shower.petertoth.me/">/r/showerthoughts</a></h3>
        <p>Showerthoughts suited up!</p>
      </div>

      <div class="item item-5">
        <h3><a href="http://aintdoinit.petertoth.me/">Ain't doin' it</a></h3>
        <p>Make a not-todo list of things you are definitiely not doing.</p>
      </div>
    </div>

    <div class="right col-md-4">
      <h2>Skills</h2>
      <div class="bars">
        <div class="bar">Ruby + Rails</div>
        <div class="bar">HTML + Haml, Slim</div>
        <div class="bar">CSS + SASS</div>
        <div class="bar">Javascript + CoffeeScript</div>
        <div class="bar">SQL + Redis</div>
        <div class="bar">Git</div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</section>
