<section id="work">
  <div class="container">
    <h1>I've worked on</h1>

    <div class="left col-md-8">

      <div class="item item-1">
        <img src="/images/chronicle.png">
        <h3><a href="http://github.com/skeswa/chronicle">Chronicle</a></h3>
        <p>
            A remote logging accumulator with a web interface. Chronicle is a way to maintain log messages from any source and look at incoming messages live. Its powered by a REST API, and the livelogging feature is driven by websocket.
        </p>
      </div>

      <div class="item item-2">
        <img src="/images/acm.jpg">
        <h3><a href="http://acm.temple.edu">Temple ACM Website</a></h3>
        <p>
            The website of Temple Univerity's ACM chapter. I built this with my good friend Sri Ramanujam. It features an event list view that loads directly from Google Calendar and an eyepleasing intro to the organization as a whole.
        </p>
      </div>

      <div class="item item-3">
        <img src="/images/flappyo.png">
        <h3><a href="https://github.com/skeswa/flappyo">FlappYo</a></h3>
        <p>
            Ever used the app Yo? Do you enjoy playing Flappy Bird? Well, meet their bastard child FlappYo. Basically, this is an in-browser version of flappy bird that has the bird flap when a "yo" is sent to the server. Its a lot of fun, but its damn near impossible to beat.
        </p>
      </div>

      <h4 class="item">Stuff I'm Working On</h4>

      <div class="item item-4">
        <h3><a href="http://github.com/skeswa/dotfiler">Dotfiler</a></h3>
        <p>Dotfiler is a righteous command-line dotfile management utility that allows you to manage your personal environment configuration and take it with you wherever you go.</p>
      </div>

      <div class="item item-5">
        <h3><a href="http://github.com/skeswa/owlhacks-site">Owlhacks.com</a></h3>
        <p>Owlhacks is a premier hackathon in Philadelphia organized by students from Temple University. In April, 500 students will come to Philadelphia to learn, collaborate and build over the course of 36 hours.</p>
      </div>
    </div>

    <div class="right col-md-4">
      <h2>Skills</h2>
      <div class="bars">
        <div class="bar">Node.js</div>
        <div class="bar">Android</div>
        <div class="bar">Go &amp; Rust</div>
        <div class="bar">Java, C#  &amp; C++</div>
        <div class="bar">SQL + Mongo DB</div>
        <div class="bar">ES6, CSS3 &amp; HTML5</div>
        <div class="bar">Angular.js &amp; React.js</div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</section>
